/* Write your code here. */

.app-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-size: cover;
}

.heading {
  color: #ffffff;
  font-size: 60px;
  font-family: 'Roboto';
}

.input-label {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Roboto';
}

.input {
  color: #e4e7eb;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 600;
  border-color: #ffffff;
  background-color: transparent;
  border-width: 1px;
  border-radius: 5px;
  width: 50%;
  height: 30px;
  border-style: solid;
  padding: 16px;
  outline: none;
}

.input:focus {
  background-color: transparent;
  color: #ffffff;
}

.description-container {
  width: 40%;
}

.img-container {
  width: 50%;
}

.img {
  width: 100%;
}

.count-container {
  background-color: #ffffff;
  padding: 10px;
  color: #219a6f;
  font-size: 10px;
  font-family: 'Roboto';
  text-align: center;
  width: 30%;
  margin-top: 20px;
  border-radius: 12px;
}
